body {
    /* background-color: cornflowerblue; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: black;
    margin: 10%;
}

* {
    margin: 5px;
    padding: 10px;    
}

header {
    /* border: 1px solid blue; */
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#high-scores {
    /* border: 1px solid blue; */
    /* background-color: lightblue; */
    color: purple;
}

#timer {
    /* border: 1px solid blue;
    background-color: lightblue; */
}
#time {
    display: inline;
}

main {
    border: 1px solid blue;
    background-color: white;
    
}

#main-text {
    /* border: 1px solid blue;
    background-color: lightblue; */
    text-align: center;
}

#sub-text {
    /* border: 1px solid blue;
    background-color: lightblue; */
}

#start-button {
    /* border: 1px solid blue; */
    /* background-color: lightblue; */
}

button {
    background-color: purple;
    color: white;
    border-radius: 10px;
    height: 35px;
}
button:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 20px 20px 50px 15px rgb(209, 107, 209);

}
#question {
    /* border: 1px solid blue;
    background-color: lightblue; */
}

.answers {
    list-style-type: none;
    width: 200px;
    /* border: 1px solid blue;
    background-color: lightblue; */
}
.answer-button {
    width: 250px;
}

#right-wrong {
    text-align: center;
        /* border: 1px solid blue;
    background-color: lightblue; */
}

#email-form {
    /* border: 1px solid blue;
    background-color: lightblue; */
}

#high-score-list {
    /* border: 1px solid blue;
    background-color: lightblue; */
}

#high-score-list li {
    background-color: rgb(209, 107, 209);;
    list-style-type: none;
}

#go-back-clear {
    /* border: 1px solid blue; */
    /* background-color: lightblue; */
}











